.navbar{
    display: block;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    padding-block: 0.3rem   ;
}
.navbar .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.navbar .logo{
    display: block;
    font-family: var(--font-rubikBlack) ;
    font-weight: 900;
    font-size: 2rem !important ;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
}
.navbar .items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-style: var(--font-rubikBold);
    font-weight: 700;
}

.navbar .nav_link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem !important;
    transition: 0.4s linear color;
}
.navbar .nav_link:hover{
    color: var(--secondary-color);
}
.navbar .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
}
/* mobile */
.navbar .mobile{
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navbar .mobile_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.4s linear;
    &:hover{
        color: var(--secondary-color);
    }
}
.navbar .mobile_menu{
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: rgba(255,255,255,0.95);
    position: absolute;
    top: 3.5rem;
    z-index: 777;
}
.mobile_menu .items{
    display: block;
    margin-bottom: 1.5rem !important;
}
/* Responsive  Utilities*/
@media (max-width : 1200px) {
}
@media (max-width : 1100px) {
}
@media (max-width : 992px) {
}
@media (max-width : 768px) {
    .navbar .wrapper{
        display: none;
    }
    .navbar .mobile{
        display: flex;
    }
    .mobile_menu .menu{
    display: none;
   }
}
@media (max-width : 576px) {
 
   .mobile .menu{
    display: none;
   }
   .mobile_menu .menu{
    display: flex;
   }
}
@media (max-width : 320px){
}