.dailyDeal{
    display: block;
    width: 100%;
    margin-bottom: 5rem;
}
.dailyDeal_items{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap: 2rem;
    margin-top: 3rem;
}