.shopping{
    display: block;
    width: 100%;
    margin-block: 5rem;
}
.grid_shopping{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem   ;
}
.grid_shopping .box{
    display: block;
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 10px 8px #efefef;
}
.grid_shopping .order{
    display: block;
    height: 50dvh;
    position: sticky;
    top: 2rem;
}
.shopping_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--gray);
}
.shopping_content  .title{
    display: block;
    font-family: var(--font-rubikBlack);
    font-size: 2rem;
    color: var(--text-color);
}
.order .title{
    display: block;
    font-family: var(--font-rubikBlack);
    font-size: 2rem;
    color: var(--text-color);
}   
.shopping_btn{
    display: flex;
    align-items: center;
    width: 150px !important;
}
.shopping_btn span:first-child{
    font-size: 1.5rem;
}
.shoppingCart_order{
    display: block;
    margin-top: 2rem;
}
.shoppingCart_order .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.shoppingCart_order .title{
    display: block;
    font-family: var(--font-rubikBold);
    font-size: 1.2rem;
    font-weight: 900;
}
.shoppingCart_order .text{
      display: block;
    font-family: var(--font-rubikBold);
    font-size: 1rem;
    font-weight: 900;
}
.cal_order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--gray);
    padding-top: 0.5rem;
}
.cal_order .title{
    display: block;
    font-family: var(--font-rubikBold);
    font-size: 1.2rem;
    font-weight: 900;
}
.cal_order .text{
      display: block;
    font-family: var(--font-rubikBold);
    font-size: 1rem;
    font-weight: 900;
}
.btn_checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100% !important;
}

/* Responsive */
@media (max-width : 992px) {
    .grid_shopping{
        grid-template-columns: auto;
    }
}
@media (max-width : 768px) {
}