.breadcrumb{
    display: block;
    width: 100%;
    height: 30dvh;
    padding-block: 2rem;
    background: var(--gradient);
}
.breadcrumb .content{
    display: block;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
}
.breadcrumb .content .title{
    display: block; 
    font-family: var(--font-rubikBlack);
    font-size: 2.5rem;
}
.breadcrumb .content .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.wrapper .link{
    display: inline;
    color: var(--gray);
    transition: all 0.4s linear;
    &:hover{
        color: var(--secondary-color);
    }
}
.wrapper .text{
    display: inline;
}